.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #3378d2;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header__search {
    margin-top:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   width: 100%;
   gap: 1rem;
  }
  
  .header__searchInput {
    padding-left: 5px;
    padding-right: 5px;
    outline: none;
    padding: 10px;
    border: none;
    width: 85vw;
    max-width: 700px;
    border-radius:20px;
    background-color: #dadce2;
  
  }
  .header__searchIcon:hover{
    cursor: pointer;
  }
  
